<?php

return [
    'db' => [
        'diver' => 'Pdo',
        'dsn' => 'mysql:dbname=jtt_dev;host=localhost;charset=utf8',
        'username' => 'root',
        'password' => 'vagrant',
        'driver_options' => [
            'PDO::MYSQL_ATTR_INIT_COMMAND' => "SET NAMES 'UTF8'"
        ],
    ],
    'view_manager' => [
        'display_exceptions' => true,
    ],
];
